:root {
    --primary: #29262b;
    --selected: #3c3541;
    --secondary: #5f85db;
    --tertiary: #90b8f8;
  }

html {
    background-color: var(--primary);
    font-size: 20px;
}

body {
    font-family: 'Labrada', sans-serif;
}

h1 {
    font-family: 'Climate Crisis', sans-serif;
    font-size: 40px;
    text-align: center;
}
  

#table {
    margin: 0 auto;
    width: 1500px;
    height: 200px;
    background-color: var(--secondary);
    border-radius: 25px;
}

#account {
    margin: 0 auto;
    text-align: center;
}

#bacheca {
    
    margin: 10px auto;
    width: 1500px;
    background-color: var(--secondary);
    border-radius: 25px;
}

.main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.textarea-column h3 {
    margin: 10px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}

img {
    display: flexbox;
    margin: 0 auto;
    border-radius: 10px;
    border-width: 40px;
    border: 2px solid var(--selected);
}


h3 {
    line-height: 10px;
    height: 10px;
    padding: 10px 0px 0px 0px; 
    margin: 5px;
}

.row-bacheca {
    position: top;
    font-size: 30px;
}

#column-header {
    display: flex;
    flex-direction: inherit;
    justify-content: space-around;
    align-items: center;
}

#column-header p {
    font-size: 30px;
}

#bacheca th, td {
    font-size: 30px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    align-content: center;
}

.imgSong {
    height: 128px;
    width: 128px;
    margin: 10px;
}

.td p {
    font-size: 20px;
}

.text-wrap {
    overflow-wrap: break-word;
}

